In [1]:
import pandas as pd

In [4]:
txns = pd.read_parquet("/Users/andrewtaylor/Google Drive/01-Banking_Ins/Budget_Data/data/raw_transactions.parquet")
accts = pd.read_parquet("/Users/andrewtaylor/Google Drive/01-Banking_Ins/Budget_Data/data/account_info.parquet")

In [5]:
txns.head()

,account_id,txn_id,txn_date,txn_name,txn_name_plaid,txn_amount,txn_cat_plaid,txn_cat_plaid_dtl,create_dt,raw_data,archive_dt,current
0,ZAVvoKq6KXhOEA898ZBEUmexwdenxEubqxmxa,R1E4rLpaLAUAY1g5gXX3fjqPMPYjB9teXNxP9,2023-11-02,USAA P&C AUTOPAY,None,13.83,GENERAL_SERVICES,GENERAL_SERVICES_INSURANCE,2023-11-23,{'account_id': 'ZAVvoKq6KXhOEA898ZBEUmexwdenxE...,NaN,True
1,ZAVvoKq6KXhOEA898ZBEUmexwdenxEubqxmxa,0qPEomLYmnunAQgjgNvkCvjxz5eAYeIv6nr5D,2023-08-14,Venmo,None,20.00,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,2023-11-23,{'account_id': 'ZAVvoKq6KXhOEA898ZBEUmexwdenxE...,NaN,True
2,ZAVvoKq6KXhOEA898ZBEUmexwdenxEubqxmxa,4KyE9vqYvnu495PYPwR9C3Y0V4Y111cDXoPdQ,2023-03-28,ALLY BANK $TRANSFER,None,20000.00,TRANSFER_OUT,TRANSFER_OUT_ACCOUNT_TRANSFER,2023-11-23,{'account_id': 'ZAVvoKq6KXhOEA898ZBEUmexwdenxE...,NaN,True
3,ZAVvoKq6KXhOEA898ZBEUmexwdenxEubqxmxa,gbeAX5x05PUpKDOPOMeKIRDYkqDQQQf6gjNEQ,2023-01-12,INTEREST PAID,None,-0.24,INCOME,INCOME_INTEREST_EARNED,2023-11-23,{'account_id': 'ZAVvoKq6KXhOEA898ZBEUmexwdenxE...,NaN,True
4,ZAVvoKq6KXhOEA898ZBEUmexwdenxEubqxmxa,E7gJDO5POdUBO3yKy71Ou1Ng8nNDDDHdgo4q3,2023-01-04,USAA P&C AUTOPAY,None,13.83,LOAN_PAYMENTS,LOAN_PAYMENTS_CREDIT_CARD_PAYMENT,2023-11-23,{'account_id': 'ZAVvoKq6KXhOEA898ZBEUmexwdenxE...,NaN,True

In [6]:
accts.head()

,account_id,account_name,account_name_parent,account_name_ofcl,account_type,account_subtype,account_number
0,5kKEV0BY0nt1DN7m7JbDIM0BJe08B1cw7KvKn,Andrew Transfer Account,USAA,None,depository,checking,4145
1,ZAVvoKq6KXhOEA898ZBEUmexwdenxEubqxmxa,Checking Main,USAA,None,depository,checking,8938
2,mNBk1yYDQYCvr1167ED1cA3qQx9EznsBoLm6P,Citi Double Cash® Card,Citi,Citi Double Cash® Card,credit,credit card,7158
3,o8dKV4RPoOiEB718x1BxHbpMrOeppeCr8ENBw,Savings Account,Ally,Savings Account,depository,savings,5826
4,RNDnVLk7jbTanV1DPj3pF0LRQM9xJVH9OZ3Kk,Delta SkyMiles® Gold Card,Amex_Natalie,Delta SkyMiles® Gold Card,credit,credit card,4009

In [7]:
ptxns = pd.read_parquet("/Users/andrewtaylor/Google Drive/01-Banking_Ins/Budget_Data/data/processed_transactions.parquet")
ptxns_2 = pd.read_parquet("/Users/andrewtaylor/Google Drive/01-Banking_Ins/Budget_Data/data/processed_transactions_2.parquet")

In [9]:
ptxns.count()

account_id             2563
txn_id                 2563
txn_name               2563
txn_date               2563
txn_amount             2563
account_name_parent    2563
account_name           2563
txn_cat                2563
txn_flag               2563
dtype: int64

In [10]:
ptxns_2.count()

account_id             2534
txn_id                 2534
txn_name               2534
txn_date               2534
txn_amount             2534
account_name_parent    2534
account_name           2534
txn_cat                2534
txn_flag               2534
dtype: int64

In [11]:
gtxns = pd.read_parquet("/Users/andrewtaylor/Google Drive/01-Banking_Ins/Budget_Data/data/gsheet_transactions.parquet")

In [12]:
gtxns.head()

,txn_date,txn_amount,txn_desc,account_name,txn_cat,txn_id,txn_flag
0,2023-05-17,9.00,SAIGON SUBS AND ROLLCINCINNATI OH,amex_andrew,No Category,2023-05-179.0SAIGON SUBS AND ROLLCINCINNATI ...,New
1,2023-05-17,23.40,Incline Public HouseCincinnati OH,amex_andrew,No Category,2023-05-1723.4Incline Public HouseCincinnati ...,New
2,2023-05-17,12.99,SPOTIFY USA NEW YORK NY,amex_andrew,No Category,2023-05-1712.99SPOTIFY USA NEW YORK ...,New
3,2023-05-16,9.01,WESTIN CINCINNATI FBCINCINNATI OH,amex_andrew,No Category,2023-05-169.01WESTIN CINCINNATI FBCINCINNATI ...,New
4,2023-05-16,18.32,WALGREENS CINCINNATI OH,amex_andrew,No Category,2023-05-1618.32WALGREENS CINCINNATI ...,New

In [ ]:
gtxns.shape

(2025, 7)

In [11]:
cat_data = pd.read_csv("/Users/andrewtaylor/Google Drive/01-Banking_Ins/Budget_Data/data/past_budget_data.csv")

In [12]:
(
    cat_data
    .reset_index().rename(columns={'index': 'txn_id', 'txn_desc':'txn_name'})
    .to_parquet('/Users/andrewtaylor/Google Drive/01-Banking_Ins/Budget_Data/data/cat_data.parquet')
)